/var/log/remnanode/*.log {
    daily
    rotate 7
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
}

/var/lib/docker/containers/*/*.log {
    daily
    rotate 5
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
    sharedscripts
}

/var/log/syslog
/var/log/auth.log
/var/log/kern.log {
    weekly
    rotate 4
    compress
    delaycompress
    missingok
    notifempty
    sharedscripts
    postrotate
        /usr/lib/rsyslog/rsyslog-rotate
    endscript
}
